/* Universal Styling */
body {
  background: rgb(253, 153, 240);
}

a {
  font-size: 24px;
}

p {
  font-size: 20px;
  color: navy;
}

/* Header Styling */
header {
  display:inline-flex;
  margin: auto;
}

header h1 {
  padding: 50px;
  margin: auto;
  color: navy;
  font-size: 60px;
  text-align: center;
}

header img {
  max-height: 75px;
}
/* Nav Bar Styling */
.links {
  display: flex;
}

.links {
  width: 100%;
  padding-top: 15px;
  margin: auto;
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.links ul {
  list-style-type: none;
  margin: 0 auto;
}

.links ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Biography Styling including headshot Pic */
.biography {
  display: flex;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 0 5%;
  margin: 15px;
  height: fit-content;
}
.biography h2 {
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
}
.biography img {
  padding: 15px;
  height: 300px;
}

/* Projects Styling */
.coding_showcase {
  display: flex;
  /* flex-wrap: wrap; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 20px 5%;
}

.coding_showcase h2 {
  display: flex;
  flex-wrap: wrap;
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
}

 .coding_showcase .another {
  min-width: 80%;
  margin: 15px;
}

 .coding {
  flex-wrap: wrap;
} 


.coding .all_projects a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.coding a:hover div {
  opacity: .6;
  background-color:rgb(254, 254, 254);
  }

 .coding div {
  height: 40%;
  font-size: 20px;
  bottom: 20px;
} 

.coding li {
   list-style-type: none;
}

.all_projects li {
  width: 40%;
  height: 300px;
  margin: 5px;
  list-style-type: none;
}
.projects .all_projects.project1 {
  height: 300px;
  width: 825px;
  align-self: center;
}

.all_projects div {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    font-style: bold;
    margin-bottom: 30px; 
}

.project1 {
  background-image: url("../images/pink-clouds.jpg");
}
.project2 a {
  background-image: url("../images/purple-clouds.jpg");
}
.project3 a {
  background-image: url("../images/pink-clouds.jpg");
}
.project4 a {
  background-image: url("../images/purple-clouds.jpg");
}
.project5 a {
  background-image: url("../images/pink-clouds.jpg");
}

/* Contact Styling */

.contact {
  display: flex;
  width: 100%;
  padding-top: 15px;
  margin: auto;
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  border-bottom: 20px;
}

.contact h2 {
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
  font-size: 24px;
}

.contact ul {
  list-style-type: none;
  margin: 0 auto;
}

.contact ul li {
  display: inline-block;
  margin-left: 25px;
}

footer {
  display: inline-flex;
  padding-top: 20px;
}

footer h3 {
  display: inline-flex;
  font-size: 20px;
  text-align: center;
}

footer img {
  max-height: 75px;
}

/* Media Querys to make viewport responsive */

@media (max-width: 992px) {
  .biography {
     display:block;
     text-align: center;
  }
  .biography h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;

  }
} 

@media (max-width: 692px) {
  .links ul li {
     display:block;
     text-align: center;
  }
  .coding_showcase {
    display: block;
  }
  .coding_showcase h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;
  }
  .contact {
    display:block;
  }
  .contact h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;
  }
}