/* Universal Styling */
body {
  background: rgb(253, 153, 240);
}
a {
  font-size: 24px;
}
p {
  font-size: 20px;
  color: navy;
}

/* Header Styling */
header {
  display:inline-flex;
  margin: auto;
  width:100%;
}
header h1 {
  padding: 50px;
  margin: auto;
  color: navy;
  font-size: 60px;
  text-align: center;
}
header img {
  max-height: 75px;
}

/* Nav Bar Styling */
.links {
  display: flex;
}
.links {
  width: 100%;
  padding-top: 15px;
  margin: auto;
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.links ul {
  list-style-type: none;
  margin: 0 auto;
}
.links ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Biography Styling including headshot Pic */
.biography {
  display: flex;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 0 5%;
  margin: 15px;
  height: fit-content;
}
.biography h2 {
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
}
.biography img {
  padding: 15px;
  height: 300px;
}

/* Projects Styling */
.coding_showcase {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: navy;
  padding: 20px 5%;
}
.coding_showcase h2 {
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
}
 .coding {
  display: flex;
  flex-wrap: wrap;
} 
.coding a:hover {
  opacity: .6;
}
.coding li {
   list-style-type: none;
}
.all_projects div {
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.coding .all_projects a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.project1 {
  background-image: url("../images/pink-clouds.jpg");
  background-size:cover;
  flex-basis: 100%;
  height: 175px;
}
.project2 {
  background-image: url("../images/purple-clouds.jpg");
  background-size:cover;
  flex-basis: 50%;
}
.project3 {
  background-image: url("../images/pink-clouds.jpg");
  background-size:cover;
  flex-basis: 50%;
}
.project4 {
  background-image: url("../images/purple-clouds.jpg");
  background-size:cover;
  flex-basis: 50%;
}
.project5 {
  background-image: url("../images/pink-clouds.jpg");
  background-size:cover;
  flex-basis: 50%;
}

/* Contact Styling */
.contact {
  display: flex;
  width: 100%;
  padding-top: 15px;
  margin: auto;
  color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  border-bottom: 20px;
}
.contact h2 {
  min-width: 15%;
  border-right: 5px solid navy;
  margin: 15px;
  text-align: right;
  padding-right: 15px;
  font-size: 24px;
}
.contact ul {
  list-style-type: none;
  margin: 0 auto;
}
.contact ul li {
  display: inline-block;
  margin-left: 25px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
footer h3 {
  display: inline-flex;
  font-size: 20px;
  text-align: center;
}
footer img {
  max-height: 75px;
}

/* Media Querys to make viewport responsive. mainly at tablet size*/
@media (max-width: 895px) {
  .biography {
     display:block;
     text-align: center;
  }
  .biography h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;
  }
  .coding_showcase {
    display: flex;
    flex-direction: column;
  }
  .coding_showcase h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;
  }
  .coding_showcase div {
    width: 80%;
    text-align: center;
  }
  .contact {
    display:block;
  }
  .contact h2 {
    text-align: center;
    border-bottom: 5px solid navy;
    border-right: 0;
  }
}
